* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #ff1e66;
}

.header-top .t-h-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .t-h-right span {
    color: white;
    font-size: 20px;
    margin: 0 8px;
}

.header-top .t-h-right span:hover {
    transform: scale(1.5);
}

.header-top .t-h-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .t-h-left div a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    color: white;
}

.header-top .t-h-left div a span {
    margin: 0 5px;
}

.header-top .t-h-left div a p {
    color: rgba(255, 255, 255, 0.9);
}

.header-top .t-h-left div a:hover p {
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu ul li {
    margin: 0 20px;
}

.header .menu ul li:hover a {
    color: #ff1e66;
}

.header .menu ul li a {
    color: #474747;
    font-weight: bolder;
}

.header .btn a {
    background: #ff1e66;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 12px;
}

.header .btn a:hover {
    color: #000;
    background: transparent;
    border: 1px solid #474747;
    padding: 9px 11px;
}

.main {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.main div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .main-img{
    display: flex;
    justify-content: center;
    align-items: end;
}
.main .main-content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 200px ;
}
.main-content h1{
    margin-bottom: 15px;
    color: #ff1e66;
    font-weight: 900;
}
.main-content h1 span{
    color: #333;
}
.main-content p{
   margin: 30px 0;
    color: #474747;
    font-size: 20x;
   width: 500px;
}
.main-content .read-more{
    color: white;
    background: #ff1e66;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
.main-content .read-more:hover{
    background: transparent;
    color: #ff1e66;
    text-decoration: underline;
}